.goal-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid silver;
}
.goal-item:last-child {
  border-bottom: none;
}

.goal-item_title {
  font-size: 1rem;
  flex: 2;
}

.goal-item_time i,
.goal-item_time-spent i {
  margin-right: 5px;
}

.goal-item_time,
.goal-item_time-spent {
  display: flex;
  flex: 1;
}

.stopwatch {
  display: flex;
}

.stopwatch_control,
.goal-item_edit,
.goal-item_delete {
  cursor: pointer;
  margin-left: 5px;
}

.stopwatch_control:hover,
.goal-item_edit:hover,
.goal-item_delete:hover {
  color: rgba(0, 0, 0, 0.6);
}
