*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 1rem;
  position: relative;
  min-width: 450px;
  max-width: 25%;
  margin: 0 auto;
  margin-top: 5%;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.5);
}

/* MainArea styles
================== */
#main-area {
  min-height: 500px;
  margin-top: 15px;
}
