*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 1rem;
  position: relative;
  min-width: 450px;
  max-width: 25%;
  margin: 0 auto;
  margin-top: 5%;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.5);
}

.btn {
  border-radius: 0;
  text-decoration: none;
  color: #3e5095;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.85rem;
}

/* Header Section
================= */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(126, 182, 195, 0.2);
}

header .logo img {
  padding: 0.5rem 0;
  width: 10rem;
}

.btn {
  border: 1px solid silver;
}

.btn-signin:hover {
  color: white;
  background-color: rgba(0, 128, 0, 0.7);
}

.btn-signup {
  border-left: none;
}

.btn-signup:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0.5);
}

/* TasksView section
============= */
.task-list {
  min-height: 500px;
}

/* Add button
============= */

.add-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #3e5095;
  background-color: rgba(0, 255, 255, 1);
  transition: background-color 0.4s, color 0.4s;
}

.add-button:hover {
  background-color: #3e5095;
  color: white;
}

/* AddTaskView section
======================== */
.add-task {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 5px 0;
  padding: 0;
  border: 1px solid silver;
}

.input-group label {
  display: block;
  padding: 7px 12px;
  background-color: silver;
}

.input-group .input {
  font-family: inherit;
  flex: 1 1 auto;
  border: none;
  border-radius: 0;
}

.add-task-button {
  display: flex;
  align-self: flex-end;
  color: white;
  background-color: green;
}

.add-task-button:hover {
  background-color: rgba(0, 128, 0, 0.7);
  animation: 0.5s linear 1s infinite alternate slidein;
}
