html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 1rem;
  width: 70%;
  min-width: 960px;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  text-decoration: none;
  color: #3e5095;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.85rem;
}

/* Header Section
================= */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(126, 182, 195, 0.2);
}

header .logo img {
  padding: 0.5rem 0;
  width: 10rem;
}

.btn {
  border: 1px solid silver;
}

.btn-signin:hover {
  color: white;
  background-color: rgba(0, 128, 0, 0.7);
}

.btn-signup {
  border-left: none;
}

.btn-signup:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0.5);
}

/* Time Range Area Section
========================== */
#time-range-area {
  padding: 1rem 0 0 0;
}

.btn-range-item {
  margin-right: 0.5rem;
}

.btn-range-item:hover {
  color: white;
  background-color: #3e5095;
}

/* Main Area Section
==================== */
#main-area {
}

.main-area-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
  border: 1px solid silver;
}

#main-area .row {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
}

#main-area .row:last-child {
  margin-bottom: 0;
}

#main-area .month:last-child {
  margin-right: 0;
}

/* Month View
============= */
#main-area .month {
  margin-right: 1rem;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
}

.month table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-top: none;
}

.month table caption {
  padding: 0.4rem 0;
  background-color: #3e5095;
  color: white;
  width: 100%;
}

.month table th {
  padding: 0;
  background-color: aqua;
  font-weight: 400;
}

.month table td {
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0.2rem 0;
  cursor: pointer;
}

.month table td:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

.month table td.achieved{
  background-color: rgba(0, 128, 0, 0.3);
}

.month table td.not-achieved{
  background-color:rgba(255, 0, 0, 0.5);
}
