.accordion {
  width: 100%;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  padding: 7px 12px;
  justify-content: space-between;
  align-items: center;
  background-color: #3e5095;
  color: white;
}

.accordion-header_title {
  font-size: 1.1rem;
}

.accordion-header_close-btn {
  cursor: pointer;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid silver;
  background-color: rgba(0, 255, 255, 1);
  border-top: none;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.accordion-content.active {
  height: fit-content;
  opacity: 1;
  margin-bottom: 10px;
}
